.checkout{
    display: flex;
    padding: 10px;
    background-color: white;
    height: max-content;
}
.check__title{
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;

}
.checkout__ad{
    width: 100%;
    margin-bottom:10px;
}
